Electron/
Element/
QtProject.conf
Thunar/
VSCodium/
calibre/
discord/
emacs/
eww/
gdb/
go/
keepassxc/
obs-studio/
pavucontrol.ini
pulse/
qBittorrent/
rncbc.org/
torbrowser/
vlc/
wireshark/
xfce4/
.gitignore.bak
.zip
