
# example = name1,"name 2",name_3 resulution1,enabled?,resulution2 offset1,_,offset2, scale1,_, scale2, _,_,transform_value
# all lines must be filled, if one disables the display, the following occurances should be marked with _

#undocked accepts only one display, disables all others


docked = "HP E242",0x243D,EV2416W 1920x1200,disable,1920x1200 0x0,_,1920x0 1,_,1 _,_,1
undocked = "0x243D"